@font-face {
  font-family: "AdvercaseFont";
  src: url("assets/fonts/AdvercaseFont-Regular.otf") format("opentype");
  font-weight: 100;
  font-style: light;
  font-display: swap;
}

body {
  margin: 0;
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100vh;
  padding: 0 10rem;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}

aside {
  width: 15%;
  display: flex;
  flex-direction: row;
  text-align: start;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0;
  }
  
  button {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid black;
    font-family: "AdvercaseFont", Arial, sans-serif;
    font-style: italic;
    font-size: x-large;
    transition: all ease-in 0.1s;

    &:hover {
      transform: translateY(-4px);
      background-color: rgb(204, 255, 238);
    }
  }
}

#projects {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  transition: all ease-in-out 0.5s;
}

.aside-border {
  justify-self: end;
}

#projects div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#projects div:hover {
  color: rgb(113, 113, 113);
}

.nav-button {
  background-color: white;
}

.nav-button:disabled {
  filter: brightness(90%);
  cursor: default;

  &:hover {
    transform: translateY(0px);
    background-color: white;
  }
}

.button-active {
  background-color: rgb(204, 255, 238);
  
  &:hover {
    transform: translateY(0px);
  }
}

#navbar {
  font-family: "AdvercaseFont", Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  box-sizing: border-box;

  div {
    text-align: end;
  }
}

#content {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
